* {
  background-color: black;
  color: aliceblue;
  margin: 0px;
  padding: 0px;
}

.Titleconatiner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
  color: white;
  background-color: teal;
  font-size: 25px;
  height: 70px;
  align-items: center;
  border-radius: 5px;
}

button,
.scrol-up {
  box-sizing: border-box;
  box-shadow: 5px 5px 10px black;
  height: 45px;
  width: 120px;
  border-radius: 5px;
  border: 3px solid white;
}
button:hover,
.scrol-up:hover {
  height: 50px;
  width: 125px;
  color: teal;
  box-shadow: 5px 5px 10px rgb(137, 131, 136);
  font-weight: bold;
  text-decoration: solid underline;
}
.container {
  height: 720px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
.table2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.what1,
.what2 {
  font-size: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  padding-bottom: 3px;
}
.what2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.what3 {
  font-size: 120px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: teal;
}
.table3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.typing-text {
  font-size: 30px;
  font-weight: bold;
  overflow: hidden;
  white-space: wrap;
  border-right: 3px solid black; /* cursor */
  width: 0;
  animation:
    typing 4s steps(40, end) forwards,
    blink 0.8s infinite;
}

/* typing effect */
@keyframes typing {
  from {
    width: 0;
    white-space: nowrap;
  }
  to {
    width: 100%;
    white-space: wrap;
  }
}

/* blinking cursor */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  color: crimson;
  font-size: 68px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.photo {
  height: 700px;
  border-radius: 10px;
  box-sizing: content-box;
  box-shadow: 2px 2px 20px -3px white;
}
.heading {
  color: teal;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  padding: 5px;
  border-radius: 3px;
}

.detail {
  color: white;
  font-size: 30px;
  font-family: fangsong;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.detail li:hover {
  border-radius: 5px;
  background-color: teal;
  color: black;
  padding: 0 0 5px 5px;
}

main {
  margin: 20px 0 20px 0;
}

.big_box {
  margin: 5px;
  height: 800px;
  padding: 20px;
  background-color: teal;
  border: 1px solid white;
  box-shadow: 3px 3px 3px 3px white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  border-radius: 3px;
}
.detail_button {
  background-color: red;
  color: black;
  border: 2px solid black;
  margin: 50px;
  height: 50px;
  width: 100px;
  padding: 10px;
}

.hire {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Hire_button {
  height: 50px;
  width: 100px;
  margin: 50px 0px 50px 50px;
  background-color: teal;
  color: black;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}
.Hire_button:hover {
  font-weight: bold;
  font-size: large;
}
.emoji {
  height: 50px;
  border-radius: 50%;
  margin: 50px;
  visibility: hidden;
  animation-name: hireMov;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: 10;
}

@keyframes hireMov {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: visible;
    transform: scale(1.1);
  }
  50% {
    visibility: visible;
    transform: scale(1.5);
  }
  75% {
    tranform: scale(2);
    visibility: visible;
  }
  100% {
    visibility: visible;
    tranform: scale(3);
  }
}

.main_container {
  margin: 5px;
  height: 800px;
  background-color: black;
  border: 1px solid white;
  box-shadow: 3px 3px 3px 3px white;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 52% 50%;
}
.small_box {
  margin: 50px 50px 50px 50px;
  border: 2px solid white;
  box-shadow: 3px 3px 3px 3px teal;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#box1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#box1 .detail {
  font-size: 34px;
}
#box2 {
  grid-column: 2/2;
  grid-row: 1/2;
}
#box2 .detail {
  font-size: 27px;
  line-height: 25px;
}
#box3 {
  grid-column: 1/2;
  grid-row: 2/2;
}
#box4 {
  grid-column: 2/2;
  grid-row: 2/2;
}

#box4 .detail li a {
  font-size: 28px;
  text-decoration: none;
}
footer {
  background-color: teal;
  margin: 20px 5px 20px 5px;
  height: 740px;
  border: 1px solid white;
  box-shadow: 3px 3px 3px 3px white;
  border-radius: 3px;
}

h3 {
  background-color: teal;
  color: white;
  font-size: 50px;
  height: 150px;
  margin-left: 200px;
  text-decoration: underline solid white 2px;
}
.contact_detail {
  background-color: teal;
  height: 250px;
  width: 500px;
  color: wheat;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.column {
  font-weight: bold;
  background-color: teal;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column1 {
  background-color: teal;
  font-size: 35px;
  border-radius: 5px;
}
.column2 {
  background-color: teal;
  font-size: 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: end;
}

.linkedin,
.email {
  height: 30px;
  border-radius: 10px;
}
.github {
  height: 35px;
  border-radius: 10px;
}
.scrol-up {
  height: 40px;
  width: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scrol-up:hover {
  width: 50px;
}
.last {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
